<div class="row">

  <% for subscription in current_user.subscriptions %>
    <% if Article.find_by_topic_id(subscription.topic_id) %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h3 class="article-topic"><%= Topic.find_by_id(subscription.topic_id).name %></h3>
            <h5 class="article-title"><%= Article.find_by_topic_id(subscription.topic_id).title %></h5>
            <p class="article-paragraph"><%= Article.find_by_topic_id(subscription.topic_id).summary %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

</div>