<%= form_for(@search, url: search_articles_path, method: :get) do |f| %>
  <div class="input-group">
    <%= f.text_field :q, class: 'form-control', placeholder: 'Title' %>
    <div class="input-group-btn">
      <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
    </div>
  </div>
<% end %>

<hr/>

<% if @articles.nil? %>
  <%# Don't show the table %> 
<% else %>
  <div class="table-responsive">
    <center><h2>Article Results</h2></center>
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Summary</th>
        </tr>
      </thead>
      <tbody>
        <% if @articles.nil? %>
          <% %>
          <% else %>
          <% @articles.each do |article| %>
          <tr>
            <td><%= article.title %></td>
            <td><%= article.summary %><br></td>
          </tr>
          <% end %>
        <% end %>
    </tbody>
  </table>
</div>
<% end %>
