<div id="topics">
<h1>Topics</h1>

<% @topics.each do |topic| %>
  <div id="topic_name"><%=  topic.name %></div>
  <%= button_to "Subscribe", subscriptions_path(topic_id: topic.id), method: :post, :class => "btn btn-success", :id => "subscribe_button" %>
<% end %>
</div>