<div class="row", id="topics-row">
    <% arr = [] %>
    <% @subscriptions.each do |subscription| %>
      <% arr.push(subscription.topic_id) %>
      <div class="row">
        <div class="col-md-1 col-md-offset-5">
          <%= subscription.topic.name %>
        </div>
        <div class="col-md-2" >
          <%= link_to "Unsubscribe", subscription_path(subscription), :method => :delete, :class => "btn btn-danger pull-right" %>
        </div>
      </div><br>
    <% end %>

    <% @topics.each do |topic| %>
      <% unless arr.include? topic.id %>
        <div class="row">
          <div class="col-md-1 col-md-offset-5">
            <%= topic.name %><br>
          </div>
        <div class="col-md-2" >
          <%= link_to "Subscribe", subscriptions_path(topic_id: topic.id), method: :post, :class => "btn btn-success pull-right" %><br>
        </div>
        </div><br>
      <% end %>
    <% end %>
</div>
