/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_self
 *= require_tree .
 */

 /* CSS for Site, index.html.erb */

 .welcome {
  position: relative;
  top: 200px;
  text-align: center;
 }

/* CSS for Layout, application.html.erb */

.navbar-fixed-top {
  height: 60px;
}

.navbar-brand {
  position: relative;
  left: 5px;
}

.pull-right {
  position: relative;
  left: 70px;
  bottom: 10px;
}

/* CSS for Subscriptions, index.html.erb, and Topics, index.html.erb  */
.navbar-brand {
  position: relative;
  top: 5px;
  right: 40px;
}

.thumbnail {
  position: relative;
  top: 80px;
  left: 15px;
  height: 250px;
  width: 380px;
  overflow: hidden; /* Don't let the summary overflow */
}

.article-topic {
  position: relative;
  bottom: 25px;
  text-align: center;
}

.article-title {
  position: relative;
  bottom: 10px;
  text-align: center;
}

.article-paragraph {
  position: relative;
  bottom: 10px;
}

/* CSS for Edit Profile, edit.html.erb */

.col-md-6 {
  position: relative;
  top: 100px;
  text-align: center;
}

/* CSS for New Session, new.html.erb,
  and for New Registration new.html.erb
 */

.new_user,
.edit_user {
  position: relative;
  top: 150px;
  left: 300px;
  width: 600px;
}

.form-group {
  padding: 20px;
}