/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_self
 *= require_tree .
 */

/* CSS for Layout, application.html.erb */
.navbar-fixed-top {
  height: 60px;
}

.pull-right {
  position: relative;
  left: 70px;
  bottom: 10px;
}

/* CSS for Topics, index.html.erb */
.navbar-brand {
  position: relative;
  top: 5px;
  right: 40px;
}

.thumbnail {
  position: relative;
  top: 80px;
  left: 15px;
  height: 250px;
  width: 380px;
}

.article-topic {
  position: relative;
  bottom: 25px;
  text-align: center;
}

.article-title {
  position: relative;
  bottom: 10px;
  text-align: center;
}

.article-paragraph {
  position: relative;
  bottom: 10px;
}




#subscribe_button {
  position: relative;
  left: -80px;
  bottom: 30px;
}

#my_topic_list {
  position: relative;
  left: 10px;
  top: 50px;
}

#topic_item {
  position: relative;
  left: 120px;
}

#topics {
  position: relative;
  top: 50px;
  text-align: center;
  color: #000;
}

form {
  position: relative;
  left: 200px;
  text-align: center;
}

#MyTopics {
  position: relative;
  left: 100px;
}

#addnewtopics {
 position: relative;
 top: 40px;
 left: 110px;
}

.topic_name {
  text-align: center;
  color: #000;
  position: relative;
  top: -20px;
}